# Covid-19-Data-Analysis-Bangladesh
### Md Ruhul Amin
##### mdruhul.amin@northsouth.edu
#### https://ruhulamin005.github.io
#### https://github.com/ruhulamin005/
#### Project Link: https://github.com/ruhulamin005/covid-19-analysis-bangladesh-perspective

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import plotly.express as px

In [3]:
world_data = pd.read_csv('owid-covid-data.csv')

In [4]:
world_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

In [5]:
world_data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'excess_mortality'],
      dtype='object')

In [6]:
world_data.shape

(99144, 60)

In [7]:
world_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99139,ZWE,Africa,Zimbabwe,2021-06-25,45217.0,911.0,554.571,1721.0,12.0,9.286,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
99140,ZWE,Africa,Zimbabwe,2021-06-26,46018.0,801.0,627.143,1725.0,4.0,8.429,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
99141,ZWE,Africa,Zimbabwe,2021-06-27,46442.0,424.0,666.143,1736.0,11.0,9.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
99142,ZWE,Africa,Zimbabwe,2021-06-28,47284.0,842.0,727.000,1749.0,13.0,9.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
99143,ZWE,Africa,Zimbabwe,2021-06-29,48533.0,1249.0,831.286,1761.0,12.0,10.000,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

In [8]:
#dfl.loc['20130102':'20130104']
world_data.isna().sum()

iso_code                                     0
continent                                 4651
location                                     0
date                                         0
total_cases                               3565
new_cases                                 3568
new_cases_smoothed                        4578
total_deaths                             13683
new_deaths                               13527
new_deaths_smoothed                       4578
total_cases_per_million                   4074
new_cases_per_million                     4077
new_cases_smoothed_per_million            5082
total_deaths_per_million                 14179
new_deaths_per_million                   14023
new_deaths_smoothed_per_million           5082
reproduction_rate                        20257
icu_patients                             89203
icu_patients_per_million                 89203
hosp_patients                            86794
hosp_patients_per_million                86794
weekly_icu_admissions                    98270
weekly_icu_admissions_per_million        98270
weekly_hosp_admissions                   97598
weekly_hosp_admissions_per_million       97598
new_tests                                54643
total_tests                              54960
total_tests_per_thousand                 54960
new_tests_per_thousand                   54643
new_tests_smoothed                       47400
new_tests_smoothed_per_thousand          47400
positive_rate                            50847
tests_per_case                           51445
tests_units                              45742
total_vaccinations                       82812
people_vaccinated                        83613
people_fully_vaccinated                  86466
new_vaccinations                         85535
new_vaccinations_smoothed                70837
total_vaccinations_per_hundred           82812
people_vaccinated_per_hundred            83613
people_fully_vaccinated_per_hundred      86466
new_vaccinations_smoothed_per_million    70837
stringency_index                         15674
population                                 643
population_density                        7029
median_age                               10542
aged_65_older                            11538
aged_70_older                            11032
gdp_per_capita                           10200
extreme_poverty                          39106
cardiovasc_death_rate                    10170
diabetes_prevalence                       7885
female_smokers                           29547
male_smokers                             30564
handwashing_facilities                   54436
hospital_beds_per_thousand               18087
life_expectancy                           4999
human_development_index                  10028
excess_mortality                         95641
dtype: int64

In [18]:
df = world_data[world_data['date']=='2021-06-29']
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
491,AFG,Asia,Afghanistan,2021-06-29,117158.0,1407.0,1629.857,4794.0,64.0,71.571,...,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511,NaN
994,OWID_AFR,NaN,Africa,2021-06-29,5465752.0,28347.0,31086.429,142171.0,522.0,511.714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1485,ALB,Europe,Albania,2021-06-29,132514.0,1.0,2.571,2456.0,0.0,0.143,...,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795,NaN
1976,DZA,Africa,Algeria,2021-06-29,139229.0,389.0,364.286,3708.0,9.0,8.286,...,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748,NaN
2461,AND,Europe,Andorra,2021-06-29,13900.0,18.0,5.143,127.0,0.0,0.000,...,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97236,WLF,Oceania,Wallis and Futuna,2021-06-29,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN,NaN
97761,OWID_WRL,NaN,World,2021-06-29,181810449.0,384664.0,378879.000,3937867.0,8156.0,7937.429,...,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737,NaN
98207,YEM,Asia,Yemen,2021-06-29,6918.0,9.0,3.714,1361.0,0.0,0.857,...,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470,NaN
98676,ZMB,Africa,Zambia,2021-06-29,152056.0,2395.0,2628.143,2138.0,47.0,56.286,...,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584,NaN
99143,ZWE,Africa,Zimbabwe,2021-06-29,48533.0,1249.0,831.286,1761.0,12.0,10.000,...,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571,NaN

In [19]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
491,AFG,Asia,Afghanistan,2021-06-29,117158.0,1407.0,1629.857,4794.0,64.0,71.571,...,NaN,597.029,9.59,NaN,NaN,37.746,0.50,64.83,0.511,NaN
994,OWID_AFR,NaN,Africa,2021-06-29,5465752.0,28347.0,31086.429,142171.0,522.0,511.714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1485,ALB,Europe,Albania,2021-06-29,132514.0,1.0,2.571,2456.0,0.0,0.143,...,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795,NaN
1976,DZA,Africa,Algeria,2021-06-29,139229.0,389.0,364.286,3708.0,9.0,8.286,...,0.5,278.364,6.73,0.7,30.4,83.741,1.90,76.88,0.748,NaN
2461,AND,Europe,Andorra,2021-06-29,13900.0,18.0,5.143,127.0,0.0,0.000,...,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73,0.868,NaN